/* frontend/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: larger;
    color:rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    display: flex;
    font-size: larger;
    flex-direction: column;
    align-items: center;
    background-image: url('../5175851.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Glass-like background color for the navbar */
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

h1 {
    text-align: center;
    color: #fff; /* White text color for the heading */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.nft {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Glass-like background color for the NFT */
}

.nft img {
    max-width: 100%;
    height: auto;
}

.mint-form {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9400FF(0, 128, 255, 0.5); /* Transparent background color for the buttons */
    color: black;
    border: 1px solid rgba(0, 128, 255, 0.7); /* Transparent border color for the buttons */
    border-radius: 0px;
    margin: 0 10px;
}

button:hover {
    background-color: rgba(0, 128, 255, 0.8); /* Transparent background color for the buttons on hover */
    border-color: rgba(0, 128, 255, 1); /* Solid border color for the buttons on hover */
}

